<h2>Profil Użytkownika</h2>
<p>Witaj, {{ user.username }}!</p>
<h2>Twoje samochody</h2>
<ul>
    {% for auto in auta %}
        <li>
            <!-- Link prowadzący do szczegółów konkretnego auta -->
            <a href="{% url 'carinfo' auto.id %}">
                {{ auto.marka }} {{ auto.model }}
            </a> 
        </li>
    {% empty %}
        <li>Nie masz jeszcze dodanych żadnych samochodów.</li>
    {% endfor %}
</ul>
<a href="{% url 'addcar' %}">Dodaj nowe auto</a>
<a href="{% url 'login' %}">Wyloguj się</a>